@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  @apply font-sans;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-google-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden; 
  /* Opsional: width 100% untuk memastikan tidak ada layout shift */
  width: 100%;
}

/* globals.css */
html {
  scroll-behavior: smooth;
}

/* Custom Selection & Scrollbar (Ini aman, biarkan saja) */
::selection {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Lenis CSS */
html.lenis, html.lenis body { height: auto; }
.lenis.lenis-smooth { scroll-behavior: auto !important; }
.lenis.lenis-smooth [data-lenis-prevent] { overscroll-behavior: contain; }
.lenis.lenis-stopped { overflow: hidden; }

.bg-grid-white {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgba(255, 255, 255, 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}